.daily-card{
    width: 100%;
    
    text-align: center;
    margin-top: 30px;
    

}

.daily-card .card-body {
   
    height: 250px;
    padding: 4.25rem!important;
}
.daily-section{
    float: left;
    
}



  

  


.cat-section{
    float: left;
    
}