/* h3 title
h3{
    font-family: Montserrat, Medium;
    font-size: 36px;
    font-weight: bold;
}
p{
    font-family: Montserrat, Regular;
    font-size: 22px;
    color: #707070;
    
}
*/
/* css label*/
label{
    font-family: Montserrat,Medium;
    font-size: 14px;
    font-weight: bold;
}

/* css input spotlocation */
.form-spot {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-top:none !important;
    border-right: none!important;
    border-left: none!important;
    border-bottom:2px solid #6ADC91 !important;
    border-radius: unset;
}
.form-spot:focus{
   
   outline: none!important;
}

.form-section{
    margin-top:30px;
}

   