/*.radio{
    border: 1px solid #CBCBCB;
    border-radius: 15px;
    padding: 20px;
}
.form-radio{
    margin-left: 60px;
}
*/
.list-check{
    border:2px solid #000;
}
ul li{
    float: left;
    list-style: none;
    margin-left: 20px;

}
