
  .btnSwitch{
    border: 1px solid #ccc;
    border-radius: 15px;
    -webkit-transition: .4s;
    transition: .4s;
    min-height: 65px;
    padding-top: 20px;
    margin-top: 10px;
    text-align: center;
}
.btnSwitch:before{
    border: 2px solid #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .btnSwitch {
  background-color: #6ADC91;
  border: 2px solid #000;
}

input:focus + .btnSwitch {
 border: 2px solid #000;
 
}
input:checked + .btnSwitch{
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
  background-color:#6ADC91;
}
.switch {
    position: relative;
    float: right;
    display: inline-block;
    width: 53px;
    height: 10px;
    margin-top: 3%;
    margin-right: 6%;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 0px;
    bottom: 4px;
    top:-8px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6ADC91;
  }
  
  input:focus + .slider  {
    box-shadow: 0 0 1px #6ADC91;
   
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
    background-color:#6ADC91;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  
.test{
    background-color: #000;
    float: left;
    height: 10px;
}
.dep{
  
  float: left;
}